@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;700;900&display=swap');
@import "./pages/dev.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inconsolata', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  @apply bg-black text-gray
}

a:hover {
  color: yellow;
  transition: all ease-in-out 200ms;
}

html {
  scroll-behavior: smooth;
}

.section {
  @apply flex items-center min-h-screen
}

.container {
  max-width: 1560px;
  @apply mx-auto
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 1.5rem;
}

.card {
  min-height: 75px;
}

.card p {
  display: none;
}

.card:hover  {
  transition: ease-in-out;
  transition-duration: 500ms;
}

.card:hover p {
  display: block;
  white-space: nowrap;
  overflow: hidden;
}

.card:hover p.dev-text {
  animation: animated-dev 2s steps(29,end) 0.01s 1 normal both;
}

.card:hover p.music-text {
  animation: animated-music 2s steps(29,end) 0.01s 1 normal both;
}

@keyframes animated-dev{
  from{width: 0;}
  to{width: 435px;}
}

@keyframes animated-music{
  from{width: 0;}
  to{width: 330px;}
}

.hello {
  animation: animated-hello 0.35s steps(29,end) 1s 1 normal both;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes animated-hello{
  from{width: 0;}
  to{width: 45px;}
}

.heading-1 {
  animation: animated-heading-1 1.2s steps(29,end) 2s 1 normal both;
  white-space: nowrap;
  overflow: hidden;
}

.heading-2 {
  animation: animated-heading-2 2s steps(29,end) 4s 1 normal both;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes animated-heading-1{
  from{width: 0;}
  to{width: 330px;}
}

@keyframes animated-heading-2{
  from{width: 0;}
  to{width: 505px;}
}

@media (max-width: 535px) {
  @keyframes animated-heading-1{
    from{width: 0;}
    to{width: 220px;}
  }
}

@media (max-width: 535px) {
  @keyframes animated-heading-2{
    from{width: 0;}
    to{width: 335px;}
  }
}

.footer-icon {
  max-width: 20px;
  @apply inline-block mx-2
}

.header-icon {
  max-width: 30px;
}

.header-icon-open {
  margin-left: 2px;
}

.nav-marker {
  position: absolute;
  top: -50px;
}

@media (min-width: 768px) {
  .nav-marker {
    top: 10px;
  }
}

.bg-header {
  background-color: rgba(14, 15, 16);
}

@media (min-width: 768px) {
  .bg-header {
    background-color: rgba(14, 15, 16, 0.5);
  }
}
