@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;700&display=swap');
@import "./pages/dev.css";


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inconsolata', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  @apply bg-black text-red
}

html {
  scroll-behavior: smooth;
}

.section {
  @apply flex items-center min-h-screen p-20
}

.hero {
  @apply min-h-screen p-20
}

.inset-text {
  top: 40%;
  @apply text-cyan
}

.hover-image {
  border: 2px solid #FF3A5E !important;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 1.4rem;
}

.home-button {
  animation: rotation 2s infinite linear;
}

.card {
  min-height: 75px;
}

.card p {
  display: none;
}

.card:hover p {
  display: block;
  animation: animated-text 2s steps(29,end) 0.01s 1 normal both;
  white-space: nowrap;
  overflow: hidden;
}

.hello {
  animation: animated-hello 0.25s steps(29,end) 1s 1 normal both;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes animated-hello{
  from{width: 0;}
  to{width: 50px;}
}

.heading-1 {
  animation: animated-text-1 2s steps(29,end) 2s 1 normal both;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes animated-text-1{
  from{width: 0;}
  to{width: 330px;}
}

.heading-2 {
  animation: animated-text 2s steps(29,end) 4s 1 normal both;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes animated-text{
  from{width: 0;}
  to{width: 510px;}
}

body .dev-bg {
  background-color: green;
}

body .music-bg {
  background-color: blue;
}

.photo-wrap:hover .gallery-photo {
  filter: blur(5px);
  transform: scale(.95);
}

.gallery button {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px 10px;
  margin: auto;
  position: absolute;
  height: 4rem;
  display: inline-block;
  opacity: 0;
  transition: all .5s ease-in-out;
  box-shadow: 0 0 15px rgba(0,0,0,.8);
  filter: blur(15px);
  background-color: #79d9ff;
  border-color: #225389;
  color: rgb(61, 9, 9);
}

.gallery .photo-wrap:hover button {
  opacity: 1;
  transform: scale(0.9);
  filter: blur(0);
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 15px;
}
